<style>
    li {
        padding: 20px 0;
    }
    code {
        background-color: #9acfea;
    }
    div {
        font-size: 20px;
    }
</style>
        <img src="../images/yeoman.png">
        <img src="../images/nodejs.png">
        <img src="../images/angular.png">
<div>
    <ol>
        <li>At the start - Download Node.js from www.nodejs.org</li>
        <li>Install</li>
        <li>NPM - Node Package Manager - is run from the node command line</li>
        <li>Install Yeoman (www.yeoman.io) <br><code>npm install -g yo</code> <br>(-g - global installation, which adds the executable to the system path, so you can run it from anywhere)</li>
        <li>Install AngularJS generator for Yeoman <br> <code> npm install -g generator-angular</code></li>
        <li>Generate AngularJS application  <br><code>yo angular your-app-name</code></li>
        </ol>
</div>
