<div>
  <p class="alert" ng-show="showMessage">{{responseMessage}}</p>
  <header class="account-info"><h2 class="account-number">{{accountData.accountNumber}}</h2>
  <h3 class="account-balance">{{accountData.balance}}</h3>
  </header>
  <div class="account-info">
    <table class="transaction-table">
      <tr>
        <th>
          From Account Name
        </th>
        <th>
          Sender
        </th>
        <th>
          Message
        </th>
        <th>
          Amount
        </th>
      </tr>
      <tr ng-repeat="transaction in accountData.transactions">
        <td>{{transaction.fromAccount}}</td>
        <td>{{transaction.senderName}}</td>
        <td>{{transaction.message}}</td>
        <td>{{transaction.amount}}</td>
      </tr>
    </table>

    <form class="transfer-form" name="transferForm" ng-submit="createTransfer()">

      <header>Create new transfer</header>
      <div class="transfer-input">
      <label for="transferForm.toAccount">To Account</label>
      <input type="text" id="transferForm.toAccount" ng-model="transferForm.toAccount"/>
      </div>

      <div class="transfer-input">
      <label for="transferForm.amount">Transfer Amount</label>
      <input type="text" id="transferForm.amount" ng-model="transferForm.transferAmount"/>
      </div>

      <div class="transfer-input">
      <label for="transferForm.message">Message to recipient</label>
      <input type="text" id="transferForm.message" ng-model="transferForm.transferMessage"/>
      </div>

      <input type="submit"/>
    </form>
  </div>
</div>
