<div class="_bank-header">
  <p class="alert" ng-show="showMessage">{{responseMessage}}</p>
  <div ng-show="baseInfo.customerName">
    <h1>Hello, {{baseInfo.customerName}}!</h1>
    <h2>Customer number: {{baseInfo.customerNumber}}</h2>
  </div>
</div>
<div class="_login-main">
  <form ng-submit="saveCustomerId()" ng-hide="customerId">
    <input type="number" ng-model="loginForm.customerNumber">
    <button type="submit">Log In</button>
  </form>
  <div class="_bank-accounts">
    <ul>
      <li ng-repeat="account in baseInfo.accounts"><a href="#/{{account.accountNumber}}">{{account.accountNumber}} <strong>{{account.balance}}</strong></a>
      </li>
    </ul>
  </div>

  <div ng-show="customerId">
    <button ng-click="removeCookie()">Logout</button>
  </div>
</div>
