.alert {
  margin-top: 50px;
  background-color: #dca7a7;
  border: solid thin  #ac2925;
  color: white;
}

.transaction-table {
  font-size: 14px;
}

.transaction-table tr {
  padding: 15px 0;
}

.transaction-table td, .transaction-table th {
  padding: 0 30px;
}

.transfer-form {
  border: solid thin #00b3ee;
  border-radius: 10px;
  padding:10px;
  text-align: center;
}

.transfer-form header {
  font-size: 20px;
  padding-bottom: 12px;
}

.account-number {
  float:left;
}
.account-balance {
  float:right;
}
.account-info {
  clear:both;
}