@(customer: Optional[CustomerTO], transactions: List[TransactionTO])

@main("Mini Bank") {

    @if(customer.isPresent) {
    <h3>Customer: @(customer.get.getCustomerName) @(customer.get.getCustomerNumber)</h3>


<a href="@routes.Management.home()">Back to management</a>

<table border="1">
    <thead>
    <tr>
        <th>Account number</th>
        <th>Balance</th>
        <th>Tx count</th>
    </tr>
    </thead>
    <tbody>
        @for(account <- customer.get.getAccounts) {
        <tr>
            <td><a href="@routes.Management.viewCustomer(customer.get.getCustomerNumber, account.getAccountNumber)">@account.getAccountNumber()</a></td>
            <td>@account.getBalance()</td>
            <td>@account.getTransactions().size()</td>
        </tr>
        }
    </tbody>
</table>

    <h3>Add account</h3>
    <div class="new_customer">
        <form action="@routes.Management.addAccount(customer.get.getCustomerNumber)" method="POST">
            <input type="text" name="amount" value="1000.00" placeholder="Initial amount" /><br />
            <input type="submit" value="Submit" />
        </form>
    </div>

@if(!transactions.isEmpty()) {


<h3>Account transactions</h3>

<form action="@routes.Management.transfer()" method="POST">
    <input type="text" size="50" name="fromAccount" value="" placeholder="From account" /><br />
    <input type="text" size="50" name="toAccount" value="" placeholder="To account" /><br />
    <input type="text" size="50" name="amount" value="1.00" placeholder="Amount" /><br />
    <input type="text" size="50" name="message" value="" placeholder="Message" /><br />
    <input type="submit" value="Transfer" />
</form>

<table border="1">
    <thead>
    <tr>
        <th>From account number</th>
        <th>To account number</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    @for(tx <- transactions) {
    <tr>
        <td>@tx.getSenderName()<br/>@tx.getFromAccount()</td>
        <td>@tx.getReceiverName()</br>@tx.getToAccount()</td>
        <td>@tx.getDate()</td>
        <td>@tx.getAmount()</td>
        <td>@tx.getMessage()</td>
    </tr>
    }
    </tbody>
</table>
}
    } else {
    <h3>Add new customer</h3>

    <div class="new_customer">
        <form action="@routes.Management.modifyCustomer()" method="POST">
            <input type="text" name="name" value="" placeholder="Customer name" /><br />
            <input type="submit" value="Submit" />
        </form>
    </div>
    }

}
