@(message: String, customers: List[Customer], transactions: List[TransactionTO])

@main("Mini Bank") {

<h1>@message</h1>

<h3>Customers</h3>

<a href="@routes.Management.viewCustomer()">Add new customer</a>

<table border="1">
    <thead>
    <tr>
        <th>Number</th>
        <th>Customer</th>
        <th>Bank accounts</th>
        <th>Control</th>
    </tr>
    </thead>
    <tbody>
    @for(customer <- customers) {
    <tr>
        <td>@customer.getNumber()</td>
        <td>
            <a href="@routes.Management.viewCustomer(customer.getNumber)">
                @customer.getName()
            </a>
        </td>
        <td>
            @customer.getAccounts().size()
        </td>
        <td>
            <a href="@routes.Management.deleteCustomer(customer.getNumber)">Delete</a>
            <a href="@routes.Api.fetchEngagement(customer.getNumber)">API</a>
        </td>
    </tr>
    }
    </tbody>
</table>



<h3>All transactions</h3>
<table border="1">
    <thead>
    <tr>
        <th>From account number</th>
        <th>To account number</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    @for(tx <- transactions) {
    <tr>
        <td>@tx.getSenderName()<br/>@tx.getFromAccount()</td>
        <td>@tx.getReceiverName()</br>@tx.getToAccount()</td>
        <td>@tx.getDate()</td>
        <td>@tx.getAmount()</td>
        <td>@tx.getMessage()</td>
    </tr>
    }
    </tbody>
</table>

}
