@main("Mini Bank") {

<h1>Mini Bank Api documentation</h1>

<h2>Customer engagement</h2>
GET /api/engagement/{customer number}
<div>
  <ul>
    <li>
      Success
      <ul>
        <li>
          <pre>
{
  "customerNumber": "601703",
  "customerName": "Customer 1",
  "accounts": [
    {
      "accountNumber": "LT270013769601684906",
      "balance": "$ 2999.70",
      "links": {
        "next": {
          "method": "GET",
          "uri": "/api/transactions/601703/LT270013769601684906"
        }
      }
    },
    {
      "accountNumber": "LT270013771370195942",
      "balance": "$ 1000.00",
      "links": {
        "next": {
          "method": "GET",
          "uri": "/api/transactions/601703/LT270013771370195942"
        }
      }
    }
  ]
}        
</pre>
</li>
      </ul>
    </li>
    <li>
      Error
      <ul>
        <li>
          <pre>
{
  "type": "validation",
  "message": "Customer 111 does not exist",
  "data": null
}          </pre>
        </li>
      </ul>
    </li>
  </ul>
</div>

<h2>Transaction list</h2>
GET /api/transactions/{customer number}/{account number}

<div>
  <ul>
    <li>Success
      <ul>
        <li>
          <pre>
{
  "accountNumber": "LT270013771370195942",
  "balance": "$ 1000.00",
  "links": {
    "next": {
      "method": "POST",
      "uri": "/api/transfer/601703"
    },
    "back": {
      "method": "GET",
      "uri": "/api/engagement/601703"
    }
  },
  "transactions": [
    {
      "amount": "$ 1000.00",
      "message": "Free money",
      "date": "2014-10-28 10:38:19",
      "toAccount": "LT270013771370195942",
      "fromAccount": "",
      "senderName": "Bank",
      "receiverName": "Customer 1"
    }
  ]
}      </pre>
          </li>
      </ul>
    </li>
    <li>Error
      <ul>
        <li>
          <pre>
{
  "type": "validation",
  "message": "Account LT270013769601684907 does not exist",
  "data": null
}          </pre>
        </li>
      </ul>
    </li>
  </ul>
</div>

<h2>Create transfer</h2>
POST /api/transfer/{customer number} (Takes payment object with fromAccount(String), toAccount(String), amount(String), message(String))

<div>
  <ul>
    <li>Success
      <ul>
        <li>
          <pre>
{
  "amount": "$ 109.10",
  "message": "Blabala",
  "date": "2014-10-28 11:49:30",
  "toAccount": "LT270017972794038438",
  "fromAccount": "LT270017972164682355",
  "senderName": "Customer1",
  "receiverName": "Customer1",
  "links": {}
}       
</pre>
        </li>
      </ul>
    </li>
    <li>Error
      <ul>
        <li>
          <pre>
{
  "type": "validation",
  "message": "Order contains errors",
  "data": {
    "amount": [
      "Amount must be 0.00 format and positive."
    ]
  }
}        </pre>
        </li>
      </ul>
    </li>
  </ul>
</div>
}
